<form (ngSubmit)="applyFilters()" #filterForm="ngForm">
  <div>
    <mat-expansion-panel data-name="orderFilter">
      <mat-expansion-panel-header>
        <mat-panel-title>{{ 'cockpit.filter' | transloco }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="formRow">
        <div class="formMobileRow">
          <mat-form-field color="accent" class="searchBy">
            <input matInput [placeholder]="'formFields.table' | transloco" [(ngModel)]="filters.tableId" name="tableId">
          </mat-form-field>
          <mat-button-toggle-group class="flex" class="searchBy" (change)="filterState($event.value)"
                                   [value]="checkOrderStatus()">
            <mat-button-toggle class="flexchild"
                               value="all">{{'cockpit.orders.orderStatus.all' | transloco}}</mat-button-toggle>
            <mat-button-toggle class="flexchild"
                               value="open">{{'cockpit.orders.orderStatus.open' | transloco}}</mat-button-toggle>
            <mat-button-toggle class="flexchild"
                               value="preparing">{{'cockpit.orders.orderStatus.preparing' | transloco}}</mat-button-toggle>
            <mat-button-toggle class="flexchild"
                               value="delivered">{{'cockpit.orders.orderStatus.delivered' | transloco}}</mat-button-toggle>
          </mat-button-toggle-group>
          <mat-button-toggle-group class="flex" class="searchBy" (change)="filterPaid($event.value)"
                                   [value]="checkPaid()">
            <mat-button-toggle class="flexchild"
                               value="all">{{'cockpit.orders.payment.all' | transloco}}</mat-button-toggle>
            <mat-button-toggle class="flexchild"
                               value="true">{{'cockpit.orders.payment.paid' | transloco}}</mat-button-toggle>
            <mat-button-toggle class="flexchild"
                               value="false">{{'cockpit.orders.payment.notPaid' | transloco}}</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="formDesktopRow">
          <mat-form-field color="accent" class="searchBy">
            <input matInput [placeholder]="'formFields.table' | transloco" [(ngModel)]="filters.tableId" name="tableId">
          </mat-form-field>
          <mat-button-toggle-group class="flex" class="searchBy" (change)="filterState($event.value)"
                                   [value]="checkOrderStatus()">
            <mat-button-toggle class="flexchild"
                               value="all">{{'cockpit.orders.orderStatus.all' | transloco}}</mat-button-toggle>
            <mat-button-toggle class="flexchild"
                               value="open">{{'cockpit.orders.orderStatus.open' | transloco}}</mat-button-toggle>
            <mat-button-toggle class="flexchild"
                               value="preparing">{{'cockpit.orders.orderStatus.preparing' | transloco}}</mat-button-toggle>
            <mat-button-toggle class="flexchild"
                               value="delivered">{{'cockpit.orders.orderStatus.delivered' | transloco}}</mat-button-toggle>
          </mat-button-toggle-group>
          <mat-button-toggle-group class="flex" class="searchBy" (change)="filterPaid($event.value)"
                                   [value]="checkPaid()">
            <mat-button-toggle class="flexchild"
                               value="all">{{'cockpit.orders.payment.all' | transloco}}</mat-button-toggle>
            <mat-button-toggle class="flexchild"
                               value="true">{{'cockpit.orders.payment.paid' | transloco}}</mat-button-toggle>
            <mat-button-toggle class="flexchild"
                               value="false">{{'cockpit.orders.payment.notPaid' | transloco}}</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div class="align-right">
        <button class="orderClearFilters" name="orderClearFilters" mat-button type="button"
                (click)="clearFilters(filterForm)">{{'buttons.clearFilters' | transloco}}</button>
        <button class="orderApplyFilters" name="orderApplyFilters" mat-button type="submit"
                color="accent">{{'buttons.applyFilters' | transloco}}</button>
      </div>
    </mat-expansion-panel>
  </div>
</form>
<mat-progress-bar
  *ngIf="!orders"
  color="accent"
  mode="indeterminate">
</mat-progress-bar>
<mat-card>
  <mat-card-title>{{'cockpit.orders.title' | transloco}}</mat-card-title>
  <mat-divider></mat-divider>

  <div class="tableContainer">
    <table mat-table [dataSource]="orders" matSort (matSortChange)="sort($event)">

      <!-- Table Column -->
      <ng-container matColumnDef="booking.tableId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[0].label}} </th>
        <td id="Booking" mat-cell *matCellDef="let element; let row;" (click)="selected(row)"> {{element.booking.tableId}} </td>
      </ng-container>

      <!-- Owner Column -->
      <ng-container matColumnDef="booking.owner">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[1].label}} </th>
        <td mat-cell *matCellDef="let element; let row;" (click)="selected(row)"> {{element.booking.name}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="booking.bookingDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[2].label}} </th>
        <td mat-cell *matCellDef="let element; let row;"
            (click)="selected(row)"> {{element.booking.bookingDate|amFromUnix|amDateFormat:'lll'}} </td>
      </ng-container>

      <!-- Payment Column -->
      <ng-container matColumnDef="paid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[3].label}} </th>
        <td id="paidCheckbox" mat-cell *matCellDef="let element">
          <mat-checkbox [checked]="element.order.paid" (change)="updatePaid($event, element)"></mat-checkbox>
        </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="orderStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[4].label}} </th>
        <td mat-cell *matCellDef="let element">
          <mat-form-field [floatLabel]="'never'">
            <mat-label>{{getTranslationPathState(element.order.orderStatus) | transloco}}</mat-label>
            <mat-select id="selectStatus" (selectionChange)="onChange($event.value, element)">
              <mat-option id="optionForStatus" *ngFor="let status of columnss" [value]="status.name"
                          [disabled]="disableOption(status.name, element)">
                {{status.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="orderEdit">
        <th mat-header-cell *matHeaderCellDef class="centered"> {{columnsb[0].label}} </th>
        <td mat-cell *matCellDef="let element; let row">
          <button mat-button color="accent" [disabled]="checkIfOpen(element)"
                  (click)="editOrder(row)">{{'buttons.edit' | transloco | uppercase}}</button>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>

  <div class="property-text-center noResults" *ngIf="orders.length===0">
    <h3>{{'table.noResults' | transloco}}.</h3>
  </div>
  <mat-paginator #pagingBar [length]="totalOrders" [pageSize]="pageSize" [pageSizeOptions]="pageSizes"
                 [showFirstLastButtons]="true" (page)="page($event)">
  </mat-paginator>
</mat-card>
