<div class="heading">
     <h3 mat-dialog-title>{{'cockpit.orders.dialogTitle' | transloco}} : {{data.booking.bookingToken}} </h3>
     <h3 mat-dialog-title>{{'cockpit.table.paidH' | transloco}} : {{data.order.paid}}</h3>
     <h3 mat-dialog-title>{{'cockpit.table.orderStatusH' | transloco}} : {{this.data.order.orderStatus}}</h3>
</div>
<mat-divider></mat-divider>
<div class="tableContainer">
     <table mat-table [dataSource]="datat">
          <!-- Reservation Date Column -->
          <ng-container matColumnDef="bookingDate">
               <th mat-header-cell *matHeaderCellDef> {{columnst[0].label}} </th>
               <td mat-cell *matCellDef="let element" class="bookingDateData">
                    {{element.bookingDate|amFromUnix|amDateFormat:'lll'}} </td>
          </ng-container>
          <!-- Creation Date Column -->
          <ng-container matColumnDef="creationDate">
               <th mat-header-cell *matHeaderCellDef class="creationDateHeader"> {{columnst[1].label}} </th>
               <td mat-cell *matCellDef="let element" class="creationDateData">
                    {{element.creationDate|amFromUnix|amDateFormat:'lll'}} </td>
          </ng-container>
          <!-- Owner Column -->
          <ng-container matColumnDef="name">
               <th mat-header-cell *matHeaderCellDef class="nameHeader"> {{columnst[2].label}} </th>
               <td mat-cell *matCellDef="let element" class="nameData"> {{element.name}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsT"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsT;"></tr>
     </table>
</div>

<div class="totalRow">
     <h4>{{'formFields.total' | transloco}}</h4>
     <h4>{{totalPrice | number : '2.2-2'}}</h4>
</div>
<mat-divider></mat-divider>
<mat-paginator [length]="datao.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizes"
     [showFirstLastButtons]="false" (page)="page($event)">
</mat-paginator>
<div class="align-right actionButtons">
     <button mat-button mat-dialog-close color="accent">{{'buttons.close' | transloco | uppercase}}</button>
</div>