<mat-card class="card" style="text-align: center;">

  <mat-card-title>
    {{ 'cockpit.resetPassword.title' | transloco }}
  </mat-card-title><br/>
  
  <mat-card-content>

    <form #form (ngSubmit)="changePassword($event);">

        <mat-form-field >
          <mat-label>{{'cockpit.resetPassword.enter' | transloco}}</mat-label>
          <input id="Password" matInput [type]="hide ? 'password' : 'text'">
        </mat-form-field><br/>   

        <mat-form-field >
          <mat-label>{{'cockpit.resetPassword.confirm' | transloco}}</mat-label>
          <input id="confirmPassword" matInput [type]="hide ? 'password' : 'text'">
        </mat-form-field><br/>   

      <mat-card-actions align="end">
        <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <button mat-button type="button" color="warn" (click)="reset(form)"> {{'buttons.reset' | transloco | uppercase}} </button>
        <button mat-button type="submit" color="accent" > {{'buttons.save' | transloco | uppercase}} </button>
      </mat-card-actions>
      
    </form>

  </mat-card-content>
  
 

</mat-card>

