<mat-card class="card">
  <mat-card-title>{{ 'cockpit.resetPassword.title' | transloco }}</mat-card-title>
  <mat-divider></mat-divider>

  <form #filterForm="ngForm" (ngSubmit)="changePassword($event);">
    
    <div class="formRow">
      <div class="formDesktopRow">
          <mat-form-field class="searchBy">
            <mat-label>{{'cockpit.resetPassword.enter' | transloco}}</mat-label>
            <input id="Password" matInput [type]="hide ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
          <mat-form-field class="searchBy">
            <mat-label>{{'cockpit.resetPassword.confirm' | transloco}}</mat-label>
            <input id="confirmPassword" matInput [type]="hide ? 'password' : 'text'">
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        
      </div>
      <div class="formMobileRow">
        <mat-form-field class="searchBy">
          <mat-label>{{'cockpit.resetPassword.enter' | transloco}}</mat-label>
          <input id="Password" matInput [type]="hide ? 'password' : 'text'">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field class="searchBy">
          <mat-label>{{'cockpit.resetPassword.confirm' | transloco}}</mat-label>
          <input id="confirmPassword" matInput [type]="hide ? 'password' : 'text'">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      
    </div>
    
    <div class="align-right">
      <button mat-button type="button" (click)="getTokenByToken(token)" > getTokens</button>
      <button mat-button type="button" color="warn" (click)="filterForm.reset()"> {{'buttons.reset' | transloco | uppercase}} </button>
      <button mat-button type="submit" color="accent" > {{'buttons.save' | transloco | uppercase}} </button>
    </div>
    
  </form>

</mat-card>

