
.card {
    margin: 5% 43%;
    width: 20%;
}

.form {
  margin: 0 50px;
}


// @media (max-width: 599px) {

//   .searchBy {
//     width: 100%;
//   }
//   .formDesktopRow {
//     display: none;
//   }

// }

// @media (min-width: 600px) {

//   .searchBy {
//     width: 30%;
//   }
//   .formDesktopRow {
//     box-sizing: border-box;
//     display: flex;
//     flex-direction: row;
//   }

// }