<div class="heading">
  <h3 mat-dialog-title>{{'cockpit.orders.dialogTitle' | transloco}} : {{data.booking.bookingToken}} </h3>
</div>
<mat-divider></mat-divider>
<div class="tableContainer">
   <table mat-table [dataSource]="datat">
    <!-- Reservation Date Column -->
    <ng-container matColumnDef="bookingDate">
      <th mat-header-cell *matHeaderCellDef> {{columnst[0].label}} </th>
      <td mat-cell *matCellDef="let element" class="bookingDateData"> {{element.bookingDate|amFromUnix|amDateFormat:'lll'}} </td>
    </ng-container>
    <!-- Creation Date Column -->
    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef class="creationDateHeader"> {{columnst[1].label}} </th>
      <td mat-cell *matCellDef="let element" class="creationDateData"> {{element.creationDate|amFromUnix|amDateFormat:'lll'}} </td>
    </ng-container>
    <!-- Owner Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="nameHeader"> {{columnst[2].label}} </th>
      <td mat-cell *matCellDef="let element" class="nameData"> {{element.name}} </td>
    </ng-container>
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="emailHeader"> {{columnst[3].label}} </th>
      <td mat-cell *matCellDef="let element" class="emailData"> {{element.email}} </td>
    </ng-container>
    <!-- Table Column -->
    <ng-container matColumnDef="tableId">
      <th mat-header-cell *matHeaderCellDef class="tableIdHeader"> {{columnst[4].label}} </th>
      <td mat-cell *matCellDef="let element" class="tableIdData"> {{element.tableId}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsT"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsT;"></tr>
  </table>
</div>
<div class="tableContainer">
  <table mat-table [dataSource]="filteredData">

    <!-- Dish Column -->
    <ng-container matColumnDef="dish.name">
      <th mat-header-cell *matHeaderCellDef> {{columnso[0].label}} </th>
      <td mat-cell *matCellDef="let element" class="dishNameData"> {{element.dish.name}} </td>
    </ng-container>

    <!-- Comments Column -->
    <ng-container matColumnDef="orderLine.comment">
      <th mat-header-cell *matHeaderCellDef class="commentHeader"> {{columnso[1].label}} </th>
      <td mat-cell *matCellDef="let element" class="commentData">
        <mat-form-field color="accent">
          <input matInput (click)="removeField(element)" (input)="changeComment(element, $event.target.value)" name="extras">{{element.orderLine.comment}}
        </mat-form-field>
      </td>
    </ng-container>

    <!-- Extra Column -->
    <ng-container matColumnDef="extras">
      <th mat-header-cell *matHeaderCellDef class="extrasHeader"> {{columnso[2].label}} </th>   
      <td mat-cell *matCellDef="let element" class="extrasData">
        <div><mat-checkbox [checked]="extraSelected(element, 'tofu')" (change)="handleExtra(element, $event.checked, 'tofu')">Extra Tofu</mat-checkbox></div>
        <div><mat-checkbox [checked]="extraSelected(element, 'curry')" (change)="handleExtra(element, $event.checked , 'curry')">Extra Curry</mat-checkbox></div>
      </td>
    </ng-container>

    <!-- Quantity Column -->
    <ng-container matColumnDef="orderLine.amount">
      <th mat-header-cell *matHeaderCellDef class="amountHeader"> {{columnso[3].label}} </th>
      <td mat-cell *matCellDef="let element" class="amountData">
        <!-- <mat-form-field color="accent">
          <input matInput [placeholder]="element.orderLine.amount" name="amount">
        </mat-form-field> -->
        <div>
          {{element.orderLine.amount}}
          <button mat-button color="accent" (click)="changeQuantity(element, 'increment')" [disabled]="validateQuantity(element, 'increment')"><b>+</b></button>
          <button mat-button color="accent" (click)="changeQuantity(element, 'decrement')" [disabled]="validateQuantity(element, 'decrement')"><b>-</b></button>
        </div>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="orderlineDelete">
      <th mat-header-cell *matHeaderCellDef> {{'buttons.delete' | transloco | uppercase}} </th>
      <td mat-cell *matCellDef="let element; let row">
        <button mat-button color="warn" (click)="deleteOrderline(element)" [disabled]="isLastOrderline()">{{'buttons.delete' | transloco | uppercase}}</button>
      </td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumnsO"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsO;"></tr>
  </table>
</div>

<div>
  <!-- <mat-form-field [floatLabel]="'never'">
    <mat-select *ngIf="dishes$ | async as dishes" [formControl]="orderlineInput" placeholder="{{'cockpit.orders.dialogTable.dishSelection' | transloco }}">
      <mat-option *ngFor="let entry of dishes" [value]="entry.dish.name" >
        {{entry.dish.name}}
      </mat-option>
    </mat-select>
  </mat-form-field> -->
  <mat-form-field [floatLabel]="'never'">
    <mat-select [formControl]="test"
      placeholder="{{'cockpit.orders.dialogTable.dishSelection' | transloco }}">
      <mat-option *ngFor="let entry of testDishes" [value]="entry.name">
        {{entry.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button color="accent" (click)="addOrderline()">{{'buttons.add'
    | transloco | uppercase}}</button>
</div>


<mat-divider></mat-divider>

<mat-paginator [length]="datao.length" [pageSize]="pageSize" [pageSizeOptions]="pageSizes" [showFirstLastButtons]="false" (page)="page($event)">
</mat-paginator>

<div class="align-right actionButtons"> 
  <button mat-button (click)="reset()" color="warn">{{'buttons.reset' | transloco | uppercase}}</button>
  <button mat-button mat-dialog-close color="accent">{{'buttons.cancel' | transloco | uppercase}}</button>
  <button mat-button (click)="apply()" mat-dialog-close color="accent">{{'buttons.apply' | transloco | uppercase}}</button>
</div>
