<p>ADMIN SEITE</p>

<!-- <div>
  <mat-expansion-panel data-name="orderFilter">
    <mat-expansion-panel-header>
        <mat-panel-title>Accounts</mat-panel-title>
    </mat-expansion-panel-header>
  </mat-expansion-panel>
</div> -->

<form (ngSubmit)="getUserInput($event);">
  <mat-form-field appearance="fill">
    <mat-label>Username</mat-label>
    <input id="Username" matInput placeholder="Username">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input id="Email" matInput placeholder="user@mail.com">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Role</mat-label>
    <input id="Role" type="number" min="0" max="3" matInput placeholder="0-3">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input id="Password" matInput [type]="hide ? 'password' : 'text'" placeholder="I<3MOM">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <button mat-button type="submit"> Neuen Nutzer anlegen </button>

</form>

<div class="tableContainer">
  <table mat-table [dataSource]="users" >

    <!-- id Column -->
    <ng-container matColumnDef="user.id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- username Column -->
    <ng-container matColumnDef="user.username">
      <th mat-header-cell *matHeaderCellDef> Username </th>
      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
    </ng-container>

    <!-- email Column -->
    <ng-container matColumnDef="user.email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- role Column -->
    <ng-container matColumnDef="user.idRole">
      <th mat-header-cell *matHeaderCellDef> Role </th>
      <td mat-cell *matCellDef="let element"> {{ element.userRoleId }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selected(row)"></tr>

  </table>
</div>
<!-- <mat-expansion-panel-header>
    <mat-panel-title>{{ 'cockpit.filter' | transloco }}</mat-panel-title>
</mat-expansion-panel-header>
<mat-progress-bar
  *ngIf="!orders"
  color="accent"
  mode="indeterminate">
</mat-progress-bar> -->
