  <form (ngSubmit)="filter()" #filterForm="ngForm">
    <div>
      <mat-expansion-panel data-name="reservationFilter">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ 'cockpit.filter' | transloco }}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="formRow">
          <div class="formMobileRow">
            <mat-form-field color="accent" class="searchBy">
              <input matInput [placeholder]="'formFields.table' | transloco" [(ngModel)]="filters.tableId" name="tableId">
            </mat-form-field>
            <mat-form-field color="accent" class="searchBy">
              <input matInput [placeholder]="'formFields.owner' | transloco" [(ngModel)]="filters.name" name="name">
            </mat-form-field>
          </div>
          <div class="formDesktopRow">
            <mat-form-field color="accent" class="searchBy">
              <input matInput [placeholder]="'formFields.table' | transloco" [(ngModel)]="filters.tableId" name="tableId">
            </mat-form-field>
            <mat-form-field color="accent" class="searchBy">
              <input matInput [placeholder]="'formFields.owner' | transloco" [(ngModel)]="filters.name" name="name">
            </mat-form-field>
          </div>
        </div>
        <div class="align-right">
          <button class="reservationsClearFilters" name="reservationsClearFilters" mat-button type="button" (click)="clearFilters(filterForm)">{{'buttons.clearFilters' | transloco}}</button>
          <button class="reservationApplyFilters" name="reservationApplyFilters" mat-button type="submit" color="accent">{{'buttons.applyFilters' | transloco}}</button>
        </div>
      </mat-expansion-panel>
    </div>
  </form>
  <mat-progress-bar
    *ngIf="!reservations"
    color="accent"
    mode="indeterminate">
  </mat-progress-bar>
  <mat-card>
    <mat-card-title>{{'cockpit.reservations.title' | transloco}}</mat-card-title>
    <mat-divider></mat-divider>

    <div class="tableContainer">
      <table mat-table [dataSource]="reservations" matSort (matSortChange)="sort($event)">

        <!-- Attention Column -->
        <ng-container matColumnDef="needHelp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[0].label}} </th>
          <td mat-cell *matCellDef="let element">
            <button mat-flat-button color="warn" [disabled]="noHelpNeeded(element)" [disableRipple]="true">{{'buttons.help' | transloco }}</button>
          </td>
        </ng-container>
        
        <!-- Owner Column -->
        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[1].label}} </th>
          <td mat-cell *matCellDef="let element" (click)="selected(element)"> {{element.booking.name}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="bookingDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[2].label}} </th>
          <td mat-cell *matCellDef="let element" (click)="selected(element)"> {{element.booking.bookingDate|amFromUnix|amDateFormat:'lll'}} </td>
        </ng-container>

        <!-- Guests Column -->
        <ng-container matColumnDef="assistants">
          <th mat-header-cell *matHeaderCellDef> {{columns[3].label}} </th>
          <td mat-cell *matCellDef="let element" (click)="selected(element)"> {{getGuestAmount(element)}} </td>
        </ng-container>

        <!-- Table Column -->
        <ng-container matColumnDef="table">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[4].label}} </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field [floatLabel]="'never'">
              <mat-label>{{'cockpit.table.tableH' | transloco}} {{element.booking.tableId}}</mat-label>
              <mat-select (selectionChange)="onChange($event.value, element)">
                <mat-option *ngFor="let table of tables"
                            [value]="table.id">{{'cockpit.table.tableH' | transloco}} {{table.id}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>

    <div class="property-text-center noResults" *ngIf="reservations.length===0">
      <h3>{{'table.noResults' | transloco}}.</h3>
    </div>
    <mat-paginator #pagingBar [length]="totalReservations" [pageSize]="pageable.pageSize" [pageSizeOptions]="pageSizes" [showFirstLastButtons]="true" (page)="page($event)">
    </mat-paginator>
  </mat-card>
