<form (ngSubmit)="addTable($event)" #form>
  <div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>{{ 'cockpit.addTable' | transloco }}</mat-panel-title>
      </mat-expansion-panel-header>
      <div class="formRow">

        <div class="formDesktopRow">
          <mat-form-field class="searchBy">
            <input id="tableName" matInput [placeholder]="'formFields.name' | transloco" name="name">
          </mat-form-field>
          <mat-form-field class="searchBy">
            <input id="alexaID" matInput [placeholder]="'formFields.alexaId' | transloco" name="alexaId">
                    </mat-form-field>
                </div>
            </div>
            <div class="align-right">
            <button mat-button color="warn" (click)="reset(form)">{{'buttons.reset' | transloco}}</button>
              <button name="addTableButton" mat-button color="accent">{{'buttons.add' | transloco}}</button>
            </div>
        </mat-expansion-panel>
    </div>
</form>

<mat-card>
    <mat-card-title>{{'cockpit.tables.title' | transloco}}</mat-card-title>
    <mat-divider></mat-divider>

    <div class="tableContainer">
        <table mat-table [dataSource]="bookings" matSort (matSortChange)="sort($event)">

            <!-- Date Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[0].label}} </th>
                <td mat-cell *matCellDef="let element"> {{element.id}}
                </td>
            </ng-container>

            <!-- Email Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[1].label}} </th>
                <td mat-cell *matCellDef="let element"> {{element.tableName}} </td>
            </ng-container>

            <!-- Alexa ID Column -->
            <ng-container matColumnDef="alexaDevice">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[2].label}} </th>
                <td mat-cell *matCellDef="let element"> {{element.alexaID}}</td>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef class="centered"> {{'buttons.delete' | transloco}} </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-button color="warn" (click)="removeTable(element)">{{'buttons.delete' | transloco }}</button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </div>

    <div class="property-text-center noResults" *ngIf="bookings.length===0">
        <h3>{{'table.noResults' | transloco}}.</h3>
    </div>
    <mat-paginator #pagingBar [length]="totalReservations" [pageSize]="pageable.pageSize" [pageSizeOptions]="pageSizes"
        [showFirstLastButtons]="true" (page)="page($event)">
    </mat-paginator>
</mat-card>
